.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000000;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -25%;
    left: 0;
    background-color: rgb(22 163 74);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes slideLeft {
    25% {
        transform: translateX(50%);
        opacity: 1;
        position: absolute;
    }
    100% {
        transform: translateX(-300%);
        opacity: 0;
        position: absolute;
    }
}
@keyframes comeFromRight {
    0% {
        position: absolute;
        transform: translateX(300%);
        opacity: 0;
    }
    25% {
        position: static;
        transform: translateX(300%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slideRight {
    25% {
        transform: translateX(-50%);
        opacity: 1;
        position: absolute;
    }
    100% {
        transform: translateX(300%);
        opacity: 0;
        position: absolute;
    }
}
@keyframes comeFromLeft {
    0% {
        position: absolute;
        transform: translateX(-300%);
        opacity: 0;
    }
    25% {
        position: static;
        transform: translateX(-300%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}