.centered-swiper .swiper-wrapper{
    align-items: center;
    padding: 2rem;
    margin-bottom: 2em;
}

.centered-swiper-edited .swiper-wrapper {
    align-items: center;
    justify-items: center;
}

.full-container-size .swiper{
    height: 100%;
}
.swiper-container-free-mode > .swiper-wrapper{
    transition-timing-function : linear;
}